# Ignore compiled files
*.class
*.jar

# Ignore log files
*.log

# Ignore target directory
/target/

# Ignore Python cache directory
__pycache__/

# Ignore virtual environment
env/

# Ignore IDE-specific files
.idea/
.vscode/
